{% extends 'FontEND/base.html' %}
{% load static %}
{% block body %}
 <div class="main-container ">
    <div class="edit" rel="content" field="dream_content" data-layout-container>
       <div class='module module module-layouts '   data-mw-title="Layouts" id="module-layouts-14"   template="skin-40"   data-type="layouts"   parent-module="layouts"   parent-module-id="module-layouts-14"  >
          <section class="height-70 safe-mode bg--dark imagebg page-title page-title--animate mw-layout-overlay-wrapper  nodrop edit    " field="layout-skin-40-module-layouts-14" rel="module" data-overlay="4">
             <div class="background-image-holder element" style="background-image: url('{% static 'FontEND/image/extra1.jpg' %}'); background-position: initial; opacity: 1;"></div>
             <div class="container pos-vertical-center">
                <div class="row">
                   <div class="col-sm-10 col-sm-offset-1 text-center allow-drop element" style="height: auto; margin-top:25px;" id="element_1558613088179">
                      <h1 style='margin-top:45px;' class="element" id="element_1558613088182">About Us</h1>
                   </div>
                </div>
             </div>
          </section>
       </div>
       <div class='module module module-layouts '   data-mw-title="Layouts" id="module-layouts-14--1"   template="skin-17"   data-type="layouts"   parent-module="layouts"   parent-module-id="module-layouts-14--1"  >
          <section class="imageblock safe-mode about-1 nodrop edit    " field="layout-skin-17-module-layouts-14--1" rel="module">
             <div class="imageblock__content col-md-6 col-sm-4 pos-left">
                <div class="background-image-holder" style="background-image: url('{{font.0.about_image1}}');"></div>
             </div>
             <div class="container">
                <div class="row">
                   <div class="col-md-5 col-md-push-7 col-sm-8 col-sm-push-4 allow-drop regular-mode">
                      <div>
                         <h4>Nurturing and Inclusive Education for All Students.</h4>
                         <p>
                           Our school is dedicated to providing a nurturing and inclusive education for all students. We believe that every student deserves the opportunity to reach their full potential, and we work to create an environment that supports this goal. Our experienced and dedicated faculty and staff strive to create a welcoming and inclusive community where students feel valued, respected, and supported. We offer a wide range of academic programs, extracurricular activities, and support services to ensure that every student can thrive. At our school, we are committed to providing an education that empowers and prepares our students for success in all aspects of life.
                         </p>
                         <p>
                           Our commitment to nurturing and inclusive education extends beyond the classroom. We encourage students to get involved in their community and develop leadership skills through service projects and civic engagement opportunities. With a focus on character development and holistic education, we aim to prepare our students for a lifetime of success and fulfillment.
                         </p>
                      </div>
                   </div>
                </div>
             </div>
          </section>
       </div>
       <div class='module module module-layouts '   data-mw-title="Layouts" id="module-layouts-14--2"   template="skin-18"   data-type="layouts"   parent-module="layouts"   parent-module-id="module-layouts-14--2"  >
          <section class="imageblock safe-mode about-1 nodrop edit    " field="layout-skin-18-module-layouts-14--2" rel="module">
             <div class="imageblock__content col-md-6 col-sm-4 pos-right">
                <div class="background-image-holder" style="background-image: url('{{font.0.about_image2}}');"></div>
             </div>
             <div class="container">
                <div class="row">
                   <div class="col-md-5 col-sm-8 allow-drop regular-mode">
                      <h4>Fostering Character and Community through Education.</h4>
                      <p>
                        
                        At our school, we believe that education is about more than just academics - it's about character development and community involvement. We work to instill important values such as kindness, empathy, and responsibility in our students, and we encourage them to take an active role in making a positive impact on their community. Through service projects, leadership opportunities, and extracurricular activities, we aim to foster a sense of civic responsibility and community engagement. We are committed to preparing our students not just for success in their future careers, but for a lifetime of meaningful contribution to society.
                      </p>
                      <p>
                        We prioritize character development and community involvement. Through service, leadership, and extracurriculars, we instill values of kindness, empathy, and responsibility in our students.
                      </p>
                   </div>
                </div>
             </div>
          </section>
       </div>
       <style>
         /* Style for the icons */
         .feature i {
            font-size: 40px;
            margin-bottom: 20px;
            color: #555;
         }
         
         /* Style for the icon container */
         .feature-1 {
            padding: 30px;
            border: 1px solid #eee;
            background-color: #fff;
            transition: all 0.3s ease;
         }
         
         /* Hover style for the icon container */
         .feature-1:hover {
            box-shadow: 0px 0px 20px #eee;
            transform: translateY(-5px);
         }
         
         /* Style for the text below the icon */
         .feature span {
            font-size: 16px;
            font-weight: bold;
            color: #555;
         }
 
       </style>  
       <div class='module module module-layouts '   data-mw-title="Layouts" id="module-layouts-14--3"   template="skin-19"   data-type="layouts"   parent-module="layouts"   parent-module-id="module-layouts-14--3"  >
          <section class="stats-1 safe-mode bg--secondary nodrop edit    " field="layout-skin-19-module-layouts-14--3" rel="module">
             <div class="container">
                <div class="row">
                   <div class="col-sm-12 text-center allow-drop">
                      <h4>Get to know us better…</h4>
                   </div>
                </div>
                <div class="row">
                   <div class="col-sm-4 cloneable">
                      <div class="feature feature-1 text-center boxed boxed--lg">
                        <i class="fas fa-graduation-cap"></i>
                         <h3>2010</h3>
                         <span class="safe-element"><em>Graduation and college acceptance rates</em></span>
                      </div>
                   </div>
                   <div class="col-sm-4 cloneable">
                      <div class="feature feature-1 text-center boxed boxed--lg">
                        <i class="fas fa-users"></i>
                         <h3>16</h3>
                         <span class="safe-element"><em>Student-to-faculty ratio</em></span>
                      </div>
                   </div>
                   <div class="col-sm-4 cloneable">
                      <div class="feature feature-1 text-center boxed boxed--lg">
                        <i class="fas fa-book"></i>
                         <h3>Over 500</h3>
                         <span class="safe-element"><em>Types of academic programs offered</em></span>
                      </div>
                   </div>
                   <div class="col-sm-4 cloneable">
                      <div class="feature feature-1 text-center boxed boxed--lg">
                        <i class="fas fa-running"></i>
                         <h3>0</h3>
                         <span class="safe-element"><em>Extracurricular activities available</em></span>
                      </div>
                   </div>
                   <div class="col-sm-4 cloneable">
                      <div class="feature feature-1 text-center boxed boxed--lg">
                        <i class="fas fa-building"></i>
                         <h3>Countless</h3>
                         <span class="safe-element"><em>School facilities and resource</em></span>
                      </div>
                   </div>
                   <div class="col-sm-4 cloneable">
                      <div class="feature feature-1 text-center boxed boxed--lg">
                        <i class="fas fa-comment"></i>
                         <h3>1</h3>
                         <span class="safe-element"><em>Testimonials from current students and alumn</em></span>
                      </div>
                   </div>
                </div>
             </div>
          </section>
       </div>
       
       <div class='module module module-layouts '   data-mw-title="Layouts" id="module-layouts-14--4"   template="skin-20"   data-type="layouts"   parent-module="layouts"   parent-module-id="module-layouts-14--4"  >
          <section class="imagebg safe-mode section--even mw-layout-overlay-wrapper parallax nodrop edit    " data-overlay="4" field="layout-skin-20-module-layouts-14--4" rel="module">
             <div class="background-image-holder element" style="background-image: url('{% static 'FontEND/image/extra.jpg' %}'); transform: translate3d(0px, 989.5px, 0px); background-position: initial; opacity: 1; top: 0px;"></div>
             <div class="container">
                <div class="row">
                   <div class="col-sm-10 col-sm-offset-1 text-center allow-drop element" style="height: auto;" id="element_1558613087834">
                      <h4 class="element" id="element_1558613087829">Are you ready for joing our community ?</h4>
                      <div class='module module module-btn '   data-mw-title="Button" id="module-layouts-14--4-btn--1"   text="Arrange A Consultation"   data-type="btn"   parent-module-id="module-layouts-14--4"   parent-module="layouts"  >
                         
                         <a class="btn btn--primary btn-default " id="btn-module-layouts-14--4-btn--1" href="{% url 'contacts_page' %}"  >
                         <span class="btn__text">
                         Arrange A Consultation    </span>
                         </a>
                         
                      </div>
                   </div>
                </div>
             </div>
          </section>
       </div>
    </div>
   
 </div>
 {% endblock body %}