{% extends 'FontEND/base.html' %}
{% load static %}
{% block body %}
<div class='module module module-layouts '   data-mw-title="Layouts" id="module-layouts-1--7"   template="skin-6"   data-type="layouts"   parent-module="layouts"   parent-module-id="module-layouts-1--7"  >
    <section class="nodrop safe-mode testimonial testimonial-3 edit    " field="layout-skin-6-module-layouts-1--7" rel="module">
       <div class="container">
          <div class="row">
             <div class="col-sm-6 col-sm-push-6">
                <div class="testimonial__text allow-drop">
                   <blockquote class="safe-element">
                      “My story, beautifully told through My portfolio.”
                   </blockquote>
                   <h4>— Mohammed Mohsin</h4>
                   
                   <br>
                   <h5> <b>Introduction</b> </h5>
                   
                   <p style='margin-left:15px;'><i>“Hi there! My name is Mohammed Mohsin, and I'm a full stack web developer and entrepreneur. I'm passionate about using technology to solve real-world problems, and I'm excited to showcase my skills and accomplishments on this portfolio website.”</i></p>
                   <br>
                   <h5> <b>About Me</b> </h5>
                   
                   <p style='margin-left:15px;'><i>“I'm currently a student studying in ten, and I have a strong interest in entrepreneurship. I've always been fascinated by the intersection of business and technology, and I'm constantly looking for ways to innovate and create new solutions.”</i></p>
                   <br>
                   <h5> <b>Technical Skills
                </b> </h5>
                   
                   <p style='margin-left:15px;'><i>“Programming Languages: Python , JavaScript , Html , Css <br>
                    Frameworks: Django , Tkinter , Bootstrap
                    ”</i></p>
                </div>
             </div>
             <div class="col-sm-6 col-sm-pull-6">
                <img alt="avatar" src="{% static 'FontEND/image/anime_avatar.png' %}">
             </div>
          </div>
       </div>
    </section>
 </div>
    
{% endblock body %}
    