{% extends 'BACKEND/base.html' %}

{% block main %}
<div class="page-wrapper">
    <div class="content container-fluid">

        <div class="page-header">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="page-title">Add Exam</h3>
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a href="{% url 'hod_exam' %}">Exam</a></li>
                        <li class="breadcrumb-item active">Add Exam</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <form method='post' action='add'>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="form-title"><span>Exam Information</span></h5>
                                </div>
                                
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                      <label>
                                        Exam Session
                                      </label>
                                      <select class="form-control" name="session" required>
                                        <option>Set Session</option>
                                        {% for i in session %}
                                        <option value="{{i.id}}">{{i.name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                      <label>Subject</label>
                                      <select class="form-control" name="subject" required>
                                        <option>Set Subject</option>
                                        {% for i in subject %}
                                        <option value="{{i.id}}">{{i.Subject_Section}}{{i.Subject_Name}}</option>
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                      <label>Class</label>
                                      <select class="form-control" name="section" required>
                                        <option>Set Class </option>
                                        {% for i in section %}
                                        <option value="{{i.id}}">{{i.Class_Name}} - {{i.Section_Name}}</option>
                          
                                        {% endfor %}
                                      </select>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Start Time</label>
                                        <input type="time" class="form-control" name='start_time'>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>End Time</label>
                                        <input type="time" class="form-control" name='end_time'>
                                    </div>
                                </div>
                                
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Room NO</label>
                                        <input type="text" class="form-control" name='roomno'>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Teacher Id</label>
                                        <input type="text" class="form-control" name='staff_id'>
                                    </div>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <div class="form-group">
                                        <label>Event Date</label>
                                        <input type="date" class="form-control" name='date'>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock main %}

    