{% extends 'BACKEND/base.html' %} {% block main %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Hostel</h3>
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Dashboard</a></li>
              <li class="breadcrumb-item active">Hostel</li>
          </ul>
        </div>
         
        <div class="col-auto text-right float-right ml-auto">
          
        
          
         
          
          <a href="{% url 'hostel_add' %}" class="btn btn-primary"
            ><i class="fa fa-plus"></i
          ></a>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        
          
          {% for i in hostels %}
          <div class="card" style="width: 18rem;">
            <a href="{% url 'hostel_r' i.id %}">
            
            <img class="card-img-top" src="{{i.hostel_photo.url}}" alt="Card image cap">
            <div class="card-body">
            </a>
            <h6> 
             <i>H Name :-</i> <i>{{i.name}}</i>
             <i>H Warden :-</i> <i>{{i.warden.staff.username}}</i>
             <i>H location :-</i> <i>{{i.location}} - {{i.address}}</i>
            
             <i>H phone :-</i> <i>{{i.phone_number}}</i>
            </h6>
              
              
            </div>
          </div>
          {% endfor %}
        
      </div>
    </div>
  </div>
  <footer>
    <p>Copyright © 2020 Edumate.X</p>
  </footer>
</div>

{% endblock main %}
