{% extends 'BACKEND/base.html' %} {% block main %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Rooms</h3>
          <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'hod_home' %}">Hostel</a></li>
              <li class="breadcrumb-item active">Rooms</li>
          </ul>
        </div>
         
        <div class="col-auto text-right float-right ml-auto">
          
        
          
         
          {% if hid %}
          <a href="{% url 'room_add' hid %}" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          </a>
          <a href="{% url 'hostel_r_h' hid %}" class="btn btn-primary">
          Hostelers <i class="fa fa-plus"></i>
          </a>
          {% endif %}
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="card card-table">
          <div class="card-body">
            <div class="table-responsive">
              <table id='table_id' class="table table-hover table-center mb-0">
                <thead>
                  <tr>
                    <th>Room Number</th>
                    <th>Room Capacity</th>
                    <th>Room Type</th>
                    <th>Rooms Fee</th>
                    <th>Available</th>
                    <th>Hostelers</th>
                  </tr>
                </thead>
                <tbody>
                  {% for room in rooms %}
                  <tr>
                    <td>{{ room.room_number }}</td>
                    <td>{{ room.room_capacity }}</td>
                    <td>{{ room.room_type }}</td>
                    <td>{{ room.fees }}</td>
                    <td>{{ room.status }}</td>
                    <td>
                      <div class="dropdown">
                        <button style="padding: 5px 10px; margin-left: 15%;" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fa fa-chevron-down"></i>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          {% for i in hosteler_list %}
                          <a class="dropdown-item" href="{% url 'hod_student_detail' i.id %}">
                           Roll No . {{i.hosteler.student_id}} - {{ i.hosteler.admin.first_name }} {{ i.hosteler.admin.last_name }} > Class {{i.hosteler.student_class}}
                          </a>
                          {% endfor %}
                     
                        </div>
                      </div>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p>Copyright © 2020 Edumate.X</p>
  </footer>
</div>

{% endblock main %}