{% extends 'BACKEND/base.html' %}
{% block main %}
<div class="page-wrapper">
  <div class="content container-fluid">
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Edit Section</h3>
          <ul class="breadcrumb">
            <li class="breadcrumb-item">
              <a href="">Section</a>
            </li>
            <li class="breadcrumb-item active">Edit Section</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-body">
            <form method="post" action="section_update">
              {% csrf_token %}
              <div class="row">
                <div class="col-12">
                  <h5 class="form-title">
                    <span>Section Information</span>
                  </h5>
                </div>
                {% for i in section %}
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Section Name</label>
                    <input required type="text" class="form-control" value="{{i.Section_Name}}" name='section_name' />
                  </div>
                </div>
               
                
                <div class="col-12 col-sm-6">
                  <div class="form-group">
                    <label>Class</label>
                    <select class="form-control" name="Class_id" required>
                      <option>Select Class</option>
                      
                      <option value="{{i.id}}">{{i.Class_Name}}</option>
        
                {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="col-12">
                  <button type="submit" class="btn btn-primary">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock main %}