{% extends 'BACKEND/base.html' %}
{% block main %}
        <div class="page-wrapper">
            <div class="content container-fluid">
                <div class="page-header">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="page-title">Teacher Details</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'hod_teacher' %}">Teacher</a></li>
                                <li class="breadcrumb-item active">Teacher Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                         {% for i in staff%}    
                            <div class="col-md-12">
                                <div class="about-info">
                                    
                                    <h4>About Teacher</h4>
                                    <div class="media mt-3">
                                    
                                     
                                        <img src="{{i.staff_photo.url}}" class="mr-3" alt="...">
                                       
                                    </div>
                                     <div class="media-body">
                                            <ul>
                                                <li>
                                                    <span class="title-span">User Name : </span>
                                                    <span class="info-span">{{i.admin.username}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Full Name : </span>
                                                    <span class="info-span">{{i.admin.first_name}}{{i.admin.last_name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Subject : </span>
                                                    <span class="info-span">{{i.staff_subject.Subject_Name}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Class Teacher : </span>
                                                    <span class="info-span">{{i.class_Teacher.Class_Name}} - {{i.class_Teacher.Section_Name}}</span>
                                                </li>
                                                
                                                <li>
                                                    <span class="title-span">Qualification : </span>
                                                    <span class="info-span">{{i.staff_Qualification}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Experience : </span>
                                                    <span class="info-span">{{i.staff_Experience}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Citizen Card Number : </span>
                                                    <span class="info-span">{{i.CitizenCard_Number}}</span>
                                                </li>
                                                
                                                <li>
                                                    <span class="title-span">Contact : </span>
                                                    <span class="info-span">{{i.staff_mobile}}</span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Email : </span>
                                                    <span class="info-span">{{i.admin.email}}
                                                           </span>
                                                </li>
                                                <li>
                                                    <span class="title-span">Gender : </span>
                                                    <span class="info-span">{{i.staff_gender}}</span>
                                                </li>
                                                
                                            </ul>
                                           
                                        </div>
                                        <div class="row mt-3">
                                         <div class="col-md-12">
                                            <p>{{i.admin.bio}} </p>
                                         </div>
                                        </div>
                                     
                                    {% comment %} <div class="row mt-3">
                                        <div class="col-md-12">
                                            <p>Hello I am Daisy Parks. Lorem Ipsum is simply dummy text of the printing
                                                and typesetting industry, simply dummy text of the printing and
                                                typesetting industry.</p>
                                        </div>
                                    </div> {% endcomment %}
                                  
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <h5>Address</h5>
                                            <p>{{i.staff_address}}</p>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>    
                         {% endfor %} 
                           
                        </div>
                        
                     
                    </div>
                </div>
            </div>

            <footer>
                <p>Copyright © 2020 Edumate.X</p>
            </footer>

        </div>

{% endblock main %}

