{% extends 'BACKEND/base.html' %}
{% block main %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="top-nav-search">
               <form>
                  <input type="text" class="form-control" placeholder="Search here">
                  <button class="btn" type="submit"><i class="fas fa-search"></i></button>
               </form>
            </div>
       
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table id="table_id" class="table table-hover table-center mb-0">
                        <thead>
                           <tr>
                              
                              
                              <th>Class</th>
                              <th>Section</th>
                              <th>Date</th>
                              <th>ID</th>
                              <th class="text-right">Status</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for i in student%}
                           
                              <td>{{i.student_is.student_class}}</td>
                              <td>{{i.student_is.student_Section.Section_Name}}</td>
                              <td>{{i.date}}</td>
                              <td>
                                <h2 class="table-avatar">
                                   <a href="{% url 'hod_student_detail' i.id %}"
                                      class="avatar avatar-sm mr-2"><img class="avatar-img rounded-circle"
                                         src="{{i.student_is.Student_photo.url}}" alt="User Image"></a>
                                   <a href="{% url 'hod_student_detail' i.id %}">{{i.student_is.admin.first_name}}&nbsp;
                                      {{i.student_is.admin.last_name}}</a>
                                </h2>
                              </td>

                              <td class="text-right">
                                 <div class="actions">
                                    {% if i.present == 1%}
                                     <a href="#" class="badge badge-success">Present</a>
                                    {% else %}
                                      <a href="#" class="badge badge-danger">Absent</a>
                                    {% endif %}
                                 </div>
                              </td>
                           </tr>
                           {% endfor %}

                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <footer>
      <p>Copyright © 2020 Dreamguys.</p>
   </footer>
</div>
{% endblock %}